body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('/public/franklin.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  color: white;
}

.App td {
  
  font: Helvetica Neue, Helvetica;
  font-size: 18px;
}

.App tr.highlighted {
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

